*{
    background-color: #1D2128;
    border:0px;
    margin:0px;
}

#header{
    display:flex;
    flex-direction: row;
    gap:117px;
    max-height: 70px;
    max-width:1440px;
    border-bottom: 1px solid white;
    padding:23px 30px;
    align-items: center;
}

#text-header{
    font-family: 'Roboto', sans-serif;
    color:white;
    font-weight: 700;
    text-align: center;
}

#main{
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

#aside{
    display:flex;
    flex-direction: column;
    gap:10px;
    font-family: 'Roboto', sans-serif;
    padding-top: 10px;
    height: 100vh;
    width: 280px;
    border-right: 1px solid white;
    align-content: center;
}


.item{
    display:flex;
    flex-direction: row;
    gap:20px;
    border-radius: 0px 25px 25px 0px;
    padding:16px 20px;
    color:white;    
}

.item:hover{
    background-color: #999B9E;
}

.item-background{
    background-color: #999B9E;
}

#text-item{
    font-size: 18px;
    font-weight: 550;
}

#icon{
    background-color: transparent;
}

#target_zone{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 1167px;
}

#target{
    position: relative;
    display:flex;
    flex-direction: column;
    align-self: center;
    gap:20px;
    margin-top: 24px;
    width: 600px;
    height:120px;
    background-color: white;
    padding:20px;
    border-radius: 8px;
}

#form{
    display:flex;
    flex-direction: column;
    gap:10px;
}

.title_target{
    color:black;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
}

.title_target::placeholder{
    color:black;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
}

.subtitle_target{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.25px;
}

#button-text{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 36px;
    background-color: transparent;
}

#text-detail{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
}


#palette{
    position: absolute;
    bottom: 70px;
    left:-39px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:5px;
    height:65px;
    width: 155px;
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);;
    padding: 5px;
    background-color: white;   
}

.palette-element{
    width: 25px;
    height: 25px;
    border-radius: 50%; 
}

.palette-hidden{
    display: none;
}

#note{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    color: white;
    margin-top: 212px;
    text-align: center;    
}

.note_hidden{
    display: none;
}

#pers_card-zone{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:20px;
    padding: 59px 30px;
}

.pers_card-item{
    display:flex;
    flex-direction: column;
    gap:100px;
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 8px;
    padding: 20px 20px 0px 20px;
    position: relative;
}

#new_button_text{
    display:flex;
    flex-direction: row;
    gap:9px; 
    align-items: center;
    height: 36px;
    background-color: transparent;
}

.subtitle_target-item{
    display: flex;
    flex-wrap: wrap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.25px;
}

.subtitle_target-item::placeholder{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.25px;
    max-width: 200px;
}

#main-palette-personal{
    position: absolute;
    bottom: 0px;
    left:-39px
}